<!DOCTYPE html>
<html>
	<head>
		<title>Stock Holdings</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<div th:replace="~{fragments/navbar:: topNavbar}">
							<p>Default local static navbar preview...</p>
						</div>
	<body>
		
		<style>		body{
			background-color:oldlace;
		}</style>

		<meta charset="UTF-8">
		<br><br><br><br><br><br><br><br>

		<div align="center">
			<h1><span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:170%";>Stock Holdings List</span></h1>
			<br><br><br>
			<style> table{
				border-collapse: separate;
				border-spacing: 0 80px;
			}</style>
			<table>
				<style>
				    th {
				        padding: 8px 50px;
				    }
				</style>
				<style>
					th{
						font-size: 170%;}

				</style>
				<thead>
					<tr>
						<th>Company Ticker</th>
						<th>Company Name</th>
						<th>Purchase Price</th>
						<th>Quantity</th>
						<th>Trade Actions</th>
					</tr>
				</thead>
				
				<tbody>

					<span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";>
					    
					</style>
					<span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:120%";>
										

									</style>
					<tr th:each="stockHolding:${listStockHoldings}">
						<td> <span th:text="${stockHolding.companyTicker}" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 140%;"></span></td>
						<td><span th:text="${stockHolding.companyName}"style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 140%;"></span></td>
						<td><span th:text="${stockHolding.purchasePrice}"style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 140%;"></span></td>
						<td><span th:text="${stockHolding.quantity}"style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 140%;"></span></td>
						<td><span th:text="${stockHolding.tradeAction}"style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 140%;"></span></td>

					</tr>
				</tbody>
			</table>
		</div>
		
	</body>
</html>