<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
	body{
		font-family: 'Courier New', Courier, monospace;
	}
  
  </style>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body style="background-color:oldlace">
	<form method="post" th:action="@{/login}" th:object="${loginDto}">
		<h1 style= "margin-left: 120px;">
		<span style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:black;font-size:100%;">Welcome to trade</span></h1>
		<p th:if="${message}" th:text="${message}" style="text-align: center;margin-top: 80px; font-family:Arial, Helvetica, sans-serif;color:red;font-size: 150%;"></p>

		</form>
		

  </body>
</html>